<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $.ajax({
                url: "http://127.0.0.1:5000/api/v1/event/{{ value }}",
            }).done(function(data) {
                var i;
                var text = "<table class=\"table table-bordered table-striped\">\
                            <tbody id=\"myTable\">";   
                data = data["data"][0];
                var data = eval(data); 
                for (var key in data) {
                    if (data.hasOwnProperty(key)) { 
                        text += "<tr><td class=\"col-sm-4\"><b>" + key + "</b></td><td class=\"col-sm-8\"> " +data[key] + "</td></tr>";
                    }
                }
                text += "</tbody>\
                    </table>"
                // $('#event_data').append(text)
                document.getElementById('event_data').innerHTML = text;
            });

            function myFunction() {
                var email = document.getElementById("email").value;
                data = {"Email": email}
                $.ajax({
                    type: 'POST',
                    url: 'http://127.0.0.1:5000/api/v1/register/{{ value }}',
                    dataType: "json",
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function(data) {
                        window.location.href = "http://127.0.0.1:5000/success?message=" + email + " is registered to the event.";
                    },
                    error: function(errMsg) {
                        console.log(JSON.parse(errMsg.responseText)["reason"])
                        var errorMessage = JSON.parse(errMsg.responseText)["reason"]
                        window.location.href = "http://127.0.0.1:5000/error?message=" + errorMessage;
                    }
                });
            }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Evite</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="http://127.0.0.1:5000/">Home</a></li>
                    <li><a href="http://127.0.0.1:5000/myregistrations">My registrations</a></li>
                </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid text-center">    
            <div class="row content">
                <div class="col-sm-2 sidenav text-center">
                </div>
                <div class="col-sm-8 text-center"> 
                    <h1>Event Details</h1>
                    <div id="event_data"></div>
                    <h1>Register here</h1>
                    <form class="form-horizontal" onsubmit="myFunction()">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Email<b>*</b>:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="email" placeholder="Enter email (Required)" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="fname">First Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="fname" placeholder="Enter First Name (optional)" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="lname">Last name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="lname" placeholder="Enter Last Name (optional)" name="lname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="phno">Phone number:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="phno" placeholder="Enter Phone Number (optional)" name="phno">
                            </div>
                        </div>
                        <div class="form-group">        
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 sidenav">
                </div>
            </div>
        </div>
        </br>
    </body>
</html>